body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    /* background-color:rgba(255, 127, 50, 1); */
}

.btn{
    margin: 30px 0;
    color: white;
    background-color: hsl(166, 100%, 34%);
    width: 360px;
    height: 40px;
    border-radius: 30px;
}
.col-6{
    background-color: #ff7f32;
    background-image: url('/crud_aij/ConnectXpert/view/img/alunologin.png');
    background-size: cover;
}
.form-control{
  width: 360px;
  height: 40px;
  left: 746px;
  top: 299px;
  border-radius: 30px;
  background-color: rgba(253, 251, 235, 1);
  border: 1px solid rgba(255, 127, 50, 1);
}

.pseudo-body{
    width: 100vw;
    height: 100vh !important;
    margin: 0;
    padding: 0;
    background-color: #ff7f32;
    position: relative;
}

.form-holder{
    width: 800px;
    height: 100vh;
    margin: 0;
    padding: 5vh 5vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFF;
}

.form-holder h4{
    width: 100%;
    color: rgba(255, 127, 50, 1) #00ab84;
    font-family: 'sourcesanspro';
    font-style: normal;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}

.form-holder form{
    margin-top: 40px;
}

.form-holder form input[type="text"], .form-holder form input[type="password"]{
    width: 100%;
    margin-bottom: 30px;
}

.form-holder .form-group{
    margin-bottom: 0;
}
