
body{
    background-color: #fffde7;
}
.dropdown-item{
  color: rgba(255, 127, 50, 1);
  font-style: normal;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  
}
.dropdown-menu{
    border-radius: 5;
    border-color: #fffde7;
}
.dropdown-item{
    background-color: #fffde7;
}
.dropdown-item:focus, .dropdown-item:hover {
    color:#fffde7;;
    text-decoration: none;
    background-color:  rgba(255, 127, 50, 1);
}
.navbar-nav, .mr-left{
    color: rgba(255, 127, 50, 1);
  font-style: normal;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;

}